<p>有一个质保书申请在等待您的审核，可以点击下面的链接快速进入详情页面。</p>
<p>系统编号：${requestId}</p>
<p>项目区域：${projectRegion}</p>
<p>项目名称：${projectName}</p>

<p>质保书详情页面链接：<br/>
<a href="${url}">${url}</a>
</p>
<br/>
<br/>
<br/>
本邮件由系统自动发出，请勿回复。

